@model IEnumerable<Wholesale_Marketplace.Models.Item>
@using Wholesale_Marketplace.Controllers;
@using Wholesale_Marketplace.Models

@{
    ViewBag.Title = "Search";
    if (ViewBag.RoleID == 0) { Layout = "~/Views/Shared/BuyerLayout.cshtml"; }
}

<script>
    var pageNext = 0;
    var NextPage = function() {
        pageNext++;
        $.get("Search", { SearchKeywords: "@(ViewBag.SearchKeywords)", page: "" + pageNext }, function (data, textStatus, jqXHR) {
            $("#SearchResults").append(data);
        });
        }
</script>
<div class="field-main">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <div id="SearchResults">
                <div class="row field-in" style="padding-top:0.5em; padding-bottom:0.5em; margin-top:0.5em">По запросу найдено @Model.Count() товаров</div>
                <div class="row field-in" style="padding-top:0.5em; padding-bottom:0.5em; margin-top:0.5em; margin-bottom:0.5em">Сортировка по кол-ву заказов</div>
                @{Html.RenderPartial("SearchPart", Model);}
            </div>
            <div class="row"><a class="btn btn-default" onclick="NextPage();">Показать ещё</a></div>
        </div>
    </div>
</div>