@{
    ViewBag.Title = "Помощь";
    if (ViewBag.RoleID == 0) { Layout = "~/Views/Shared/BuyerLayout.cshtml"; }
    if (ViewBag.RoleID == 1) { Layout = "~/Views/Shared/SellerLayout.cshtml"; }
}

<div class="field-main">
    <div class="row"><br /><h4><b>Помощь</b></h4></div>
    <div class="row">
        <p><b>Электронная торговая площадка</b> - это место, где каждый желающий может купить или продать любой товар быстро и бесплатно. Огромные возможности торговли на нашей площадке позволяют объединить в единый рынок продавцов и покупателей со всего мира.</p>
        <p>
            Став зарегистрированным пользователем нашего сайта, вы можете:
            <ul>
                <li>просматривать каталоги товаров любых магазинов</li>
                <li>делать заказы, оплачивать и получать их удобным способом</li>
                <li>общаться с продавцами по любым вопросам</li>
                <li>в случае спорных ситуаций гарантировано получить помощь и поддержку</li>
                или
                <li>создать свой магазин и продавать в нем любые товары</li>
                <li>принимать и обрабатывать заказы от покупателей</li>
                <li>общаться с покупателями, отвечать на их вопросы</li>
                <li>в случае спорных ситуаций гарантировано получить помощь и поддержку</li>
            </ul>
        </p>
        <p><h5><b>Регистрация</b></h5></p>
        <p>
            Нажав кнопку "Регистрация" в правом верхнем углу, выберите тип вашей учетной записи и введите требуемые сведения.
            В следующем окне введите дополнительные данные, которые зависят от типа вашей учетной записи.
            Если вы - продавец, то создайте свой магазин, или стньте членом уже существующего (для этого вам потребуется секретный пароль, полученный от хозяина магазина).
            Если вы - покупатель, то введите личные данные, адрес, загрузите аватар. Теперь вы можете пользоваться всеми функциями торговой площадки.
        </p>
        <p><h5><b>Покупателю</b></h5></p>
        <p>Вы можете осуществлять поиск по всем товарам с любой страницы, введя ключевые слова поиска в поле вверху и нажав кнопку "Поиск". На странице поиска вы можете отсеять результаты по нескольким параметрам и выбрать конкретный товар. </p>
        <p> На странице товара вы можете ознакомиться с подробной информацией и оценками товара, а также сделать заказ, путем нажатия кнопки "Заказать". Вам также потребуется ввести некоторые сведения для заказа: адрес, количество, способ доставки.</p>
        <p> После отплаты товара ожидайте его обработки продавцом. Вы также можете инициировать диалог с продавцом путем нажатия кнопки "Написать продавцу" с любой страницы товара или заказа.</p>
        <p> После получения вашего товара оставьте отзыв с оценкой, либо откройте спор, если вас что-либо не устраивает.  Путем общения c продавцом вы можете прийти к удовлетворительному решению спора.  </p>
        <p> Списки всех ваших заказов и диалогов доступны по кнопкам вверху страницы.</p>
        <p><h5><b>Продавцу</b></h5></p>
        <p> После создания своего магазина при регистрации, вы можете добавить в него товары с помощью кнопки вверху страницы. Также имеется функция просмотра всех товаров вашего магазина, их редактирования или удаления.</p>
        <p> Все заказы ваших клиентов поступают в общий список, доступный всем продавцам вашего магазина. После нажатия кнопки "Взять на обработку", заказ прикрепляется за вами и теперь только вы отвечаете за его выполнение.</p>
        <p> Обработав и отправив товар, отметьте его как "Отправленный" и дожидайтесь получения клиентом.</p>
        <p> Вопросы по поводу товаров также добавляются в общий список вашего магазина, где вы можете взять один из диалогов и начать отвечать на вопросы покупателя.</p>
        <p> Покупатель в случае проблем может открыть спор по товару.  Путем общения c покупателем вы можете прийти к удовлетворительному решению спора.  </p>
    <br />
    </div>
</div>