@{
    ViewBag.Title = "Wholesale MarketPlace";
    if (ViewBag.RoleID == 0) { Layout = "~/Views/Shared/BuyerLayout.cshtml"; }
    if (ViewBag.RoleID == 1) { Layout = "~/Views/Shared/SellerLayout.cshtml"; }
}


<div class="field-main">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:500px; margin-top:2em; margin-bottom:2em;" >

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="row" style="margin-top:3em">
                        <div class="col-md-6"><img src="~/Content/logo.png" class="img-responsive" height="450"></div>
                        <div class="col-md-6">
                            <p><h1><b>Wholesale Marketplace</b></h1></p>
                            <ul class="h4" style="margin-top:2em">
                                <li>Огромный выбор товаров любых категорий</li>
                                <br />
                                <li>Продавцы со всего мира </li>
                                <br />
                                <li>Быстрая доставка</li>
                                <br />
                                <li>Низкие цены</li>
                                <br />
                                <li>Гарантия защиты ваших средств</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="row" style="margin-top:3em">
                        <div class="col-md-offset-1 col-md-5">
                            <p><h1><b>Стань продавцом</b></h1></p>
                            <ul class="h4" style="margin-top:2em">
                                <li>Cоздай свой магазин и продавай в нем любые товары</li>
                                <br />
                                <li>Принимай и обрабатывай заказы от покупателей</li>
                                <br />
                                <li>Общаться с покупателями, отвечай на их вопросы</li>
                                <br />
                                <li>В случае спорных ситуаций гарантировано получи помощь </li>
                            </ul>
                        </div>
                        <div class="col-md-5"><img src="~/Content/seller.png" class="img-responsive" style="max-height:450px" ></div>
                    </div>
                </div>

                <div class="item">
                    <div class="row" style="margin-top:3em">
                        <div class="col-md-offset-1 col-md-5"><img src="~/Content/buyer.png" class="img-responsive" style="max-height:450px"></div>
                        <div class="col-md-5">
                            <p><h1><b>Стань покупателем</b></h1></p>
                            <ul class="h4" style="margin-top:2em">
                                <li>Cоздай свой магазин и продавай в нем любые товары</li>
                                <br />
                                <li>Принимай и обрабатывай заказы от покупателей</li>
                                <br />
                                <li>Общаться с покупателями, отвечай на их вопросы</li>
                                <br />
                                <li>В случае спорных ситуаций гарантировано получи помощь</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" style="border-radius: 10px">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" style="border-radius: 10px">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


</div>

