body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom:15px;
    padding-top:15px;
}

.field {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom:15px;
    padding-top:15px;
    border-radius:5px;
    background-color:white;
}

.field-big {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom:30px;
    padding-top:10px;
    border-radius:5px;
    background-color:white;
}

