@using Wholesale_Marketplace.Models
@model Wholesale_Marketplace.Models.Buyer
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddInfoBuyer</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        {
            <p>Имя</p>
            @Html.EditorFor(m => m.Name)
            <p>Адрес</p>
            @Html.EditorFor(m => m.Address)
            <p>Аватар</p>
            @Html.EditorFor(m => m.Avatar)
            <p><input type="submit" value="Сохранить" formaction="AddInfoBuyer"/></p>
        }
    </div>
</body>
</html>
